@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* ওপরের ইমেজের জন্য: ডানে-বামে নাড়াচাড়া */
@keyframes move-left-right {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-40px); } /* ৩০-৪০ পিক্সেল বামে যাবে */
}

/* নিচের ইমেজের জন্য: ওপরে-নিচে নাড়াচাড়া */
@keyframes move-up-down {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-40px); } /* ৩০-৪০ পিক্সেল ওপরে উঠবে */
}

.animate-move-lr {
  animation: move-left-right 5s ease-in-out infinite;
}

.animate-move-ud {
  animation: move-up-down 6s ease-in-out infinite;
}


@keyframes loading-progress {
  0% { width: 0%; }
  100% { width: 100%; }
}